
<div class="container">
    <div class="row my-4">
        <!-- <div class="card" style="width: 18rem;" *ngFor="let trip of multiTrip">
            <div class="card-body">
              <h5 class="card-title">{{trip.name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
          <div class="card" style="width: 18rem;">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{multiTrip[0].name}}</li>
              <li class="list-group-item">{{multiTrip[1].name}}</li>
              <li class="list-group-item">{{multiTrip[2].name}}</li>
              <li class="list-group-item">{{multiTrip[3].name}}</li>
              <li class="list-group-item">{{multiTrip[4].name}}</li>
              <li class="list-group-item">{{multiTrip[5].name}}</li>
            </ul>
          </div>
          <div class="altez"></div>
    </div>
</div>
